@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.bg {
    background-image: linear-gradient(to bottom right, red, yellow);
}

ul, li {
    display: block;
}

.header {
    height: 1.3in;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header .h-img {
    left: -0.1in;
    top: 2.3in;
    position: absolute;
}

#body {
    left: 50%;
    width: 609px;
    height: 405px;
    display: block;
    position: absolute;
    margin-left: -305px;
}

#body * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#body input {
    display: none;
}

#img-inner {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 405px;
    display: block;
    position: absolute;

    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);

    transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
}

#img-inner img {
    width: 100%;
    height: 100%;
}

#img-inner:nth-of-type(1) {

    background-image:
        url("http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg"),
        url("http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg"),
        url("http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg"),
        url("http://farm9.staticflickr.com/8055/8098750623_66292a35c0_z.jpg"),
        url("http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg");
}

#img-inner:hover~label.sb-bignav {
    opacity: 0.5;
}

label.sb-bignav:hover {
    opacity: 1;
}


.sb-bignav {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;

    color: white;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}


label[title="Next"] {
    right: 0;
}

input:checked+li>#img-inner {
    opacity: 1;

    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);

    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

input:checked+li>label {
    display: block;
}

.menu {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 20px;
    background-color: rgba(137, 43, 226, 0.473);
    left: 2in;
}

.menu label, span {
    color: rgb(49, 0, 0);
}

.menu button:hover {
    background-color: blanchedalmond;
    color: crimson;
    border: none;
    transform: scale(1.1);
}

.container {
    position: relative;
    color: black;
    font-size: larger;
}

.orderdetails {
    position: relative;
    top: 3in;
}

/* // */
html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #262626;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    position: relative;
    display: block;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
}

i:before, i:after {
    content: '⥪';
    position: absolute;
    top: 50%;
    left: 1rem;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    background: dodgerblue;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

i:after {
    content: '⥭';
    left: auto;
    right: 1rem;
}

.star {
    position: absolute;
    top: 2.7in;
    left: 1.1in;
}

.product-card__promotion img {
    position: absolute;
    object-fit: cover;
    top: 0in;
    left: 0.3in;
    transform: rotate(15deg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.product-card__promotion img:hover {
    transform: rotate(-15deg);
}

.checked {
    color: orange;
}

input {
    appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateX(100%);
    transition: transform ease-in-out 400ms;
    z-index: 1;
}

input:focus {
    outline: none;
}

input:after {
    content: attr(title);
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 5px;
}

input:not(checked):before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 50%;
    left: calc(-100% + 1rem);
}

input:checked:before {
    display: none;
    left: 1rem;
}

input:checked {
    transform: translateX(0);
    z-index: 0;
    box-shadow: -5px 10px 20px -15px rgba(0, 0, 0, 1);
}

input:checked+input:before {
    left: -3rem;
}

input:checked+input~input:before {
    display: none;
}

@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700&display=swap');

:root {
    --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    --border-radius-small: 5px;
    --red: rgba(229, 62, 62, 0.75);
    --green: rgba(72, 187, 120, 0.8);
    --body-bg: rgba(237, 242, 247, 1)
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--body-bg);
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Miriam Libre', sans-serif;
    font-size: 20px;
    background: #edf2f7;
}

.product-card {
    display: grid;
    justify-content: space-between;
    width: 30rem;
    height: 30rem;
    margin: auto;
    background: #ffffff;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: var(--box-shadow);
}

.product-card__promotion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    width: 7.5rem;
    height: 2.25rem;
    background: var(--red);
    border-radius: var(--border-radius-small);
    position: absolute;
    left: -1rem;
    top: 0.5rem;
    transition: transform 0.25s cubic-bezier(.29, -0.54, .81, .95);
    line-height: 1;
    box-shadow: var(--box-shadow);
}

.product-card:hover .product-card__promotion {
    transform: rotate(0deg);
}

.product-card__footer {
    display: flex;
    align-items: center;
    align-self: flex-end;
    width: 100%;
    height: 3.5rem;
    background: #e2e8f0;
    border-radius: 0 0 0.5rem;
}

.product-card__button {
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: var(--border-radius-small);
    margin-left: auto;
    font-size: 0.8rem;
    text-transform: uppercase;
    background: var(--green);
    color: #ffffff;
    font-weight: bold;
}

.product-card__button:hover {
    --green: rgba(72, 187, 120, 1);
    background: var(--green);
}

@media(max-width: 1050px) and (min-width: 800px) {
    .product-card .menu {
        top: 2in;
        left: 0in;
    }

    .bg {
        background-image: none;
        background: linear-gradient(to bottom right, red, yellow);
        height: 100%;
    }

    .header {
        position: relative;
    }

    .header .h-img {
        position: absolute;
        top: -0.5in;
        left: -0.2in;
    }

    .menu {
        color: rgb(0, 0, 0);
        font-size: 20px;
        background-color: rgba(137, 43, 226, 0.473);
        left: 2in;
        width: 2in;
    }
    .product-card
    {
        position: relative;
        width: 2in;
        height: 2in;
    }
    .product-card img
    {
        position: absolute;
        top: 0.2in;
        width: 1.5in;
        height: 1.5in; 
    }
    .product-card .star
    {
        position: absolute;
        top: 1.77in;
        left: 0.5in;
    }
}

@media (max-width: 799px) {
    body {
        display: grid;
        gap: 0.5in;
    }

    .bg {
        background-image: none;
        background: linear-gradient(to bottom right, red, yellow);
        height: fit-content;
    }

    .header
    {
        position: relative;
    }

    .header .h-img {
        position: absolute;
        top: -0.5in;
        left: -0.2in;
    }

    .menu {
        color: rgb(0, 0, 0);
        font-size: 20px;
        background-color: rgba(137, 43, 226, 0.473);
        left: 2in;
        width: 2in;
    }
}